<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Top 10</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-backdrop [movies]="peliculasRecientes"></app-slideshow-backdrop>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>En cartelera</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-poster [movies]="peliculasRecientes"></app-slideshow-poster>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Populares</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-pares [movies]="peliculasPopulares"
    (cargarMas)="cargarMas()"
  ></app-slideshow-pares>
</ion-content>
