

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Favorito</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

<!--  <app-slideshow-poster [movies]="peliculas"></app-slideshow-poster>-->
  @for(pelicula of favoritoGenero;track $index){
    <div>
      @if(pelicula.pelis.length > 0){
        <ion-grid>
          <ion-row>
            <ion-col>
              <h3>{{pelicula.genero}}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
          <app-slideshow-poster (modalClosed)="onModalClosed()" [movies]="pelicula.pelis"></app-slideshow-poster>
      }
    </div>
  }
</ion-content>
